* {
  margin: 0;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-width: 360px;
  background-color: #434343;
  color: lightgrey;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  color: white;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
  font-style: italic;
  color: white;
}

a {
  color: orange;
}

ul {
  list-style: circle;
  list-style-position: outside;
  padding: 1em;
}

.span-link {
  color: orange;
  cursor: pointer;
}

.register-btn {
  background-color: orange;
  color: white;
  padding: 1.2em 3em;
  font-weight: bold;
}

.highlight-box {
  border: 1px orange solid;
}
